body{
  background-color: #000;
  }
 
  .imagen_sap{
    height:70px;
  }
  .nav_titulo{
    color:#fff;
    text-align:center;
  }
  .titulo_principal{
    padding-top: 5px;
    color:#fff;
    text-align:center;
  }
  .container{
    display:flex;
   justify-content:center;
   align-items:center;
   padding-top:10px;
   height:100%;
   width: 100%;
  }
  .video_sap{
   height:600px;
   width: 600px;
  }
